@use '../../style/variables' as *;

.review-content {
    display: flex;

    padding: 4rem 0;
    margin: 0 2rem;

    align-items: center;

    @media (max-width: $screen-sm-min) {
        flex-direction: column;
        align-items: center;
    
    }

    &_img {
        width: 30%;

        @media (max-width: $screen-sm-min) {
            margin-bottom: 2rem;
        }
        img {
            border-radius: 50%;
            display: block;
            width: 100%;
            max-width: 200px;
            margin: 0 auto;
        }
    }

    &_info {
        width: 60%;

        text-align: center;

        @media (max-width: $screen-sm-min) {
            width: 100%;
            // display: flex;
            // flex-direction: column-reverse;
        }
        
        &-text {
            font-family: $font-text;
            color: $color-text-large;
            font-size: $text-lg;
            line-height: 2.5rem;

            margin-bottom: 1rem;

            @media (max-width: $screen-md-min) {
                font-size: $text-md;
                line-height: 2rem;
            }

            @media (max-width: $screen-xs-min) {
                font-size: $text-sm;
                line-height: 2rem;
            }
        }

        &-name {
            display: flex;
            align-items: center;
            justify-content: center;

            font-family: $font-title;
            font-size: $text-lg;
            color: $color-title;

            @media (max-width: $screen-md-min) {
                font-size: $text-md;
            }

          &::after,
          &::before {
            display: block;
            content: "";
            height: 1px;
            width: 30%;
            
            background-color: $color-title;
            margin: 0 2rem;

          }  
        }
    }
}