//out: ../../components/navbar/navbar.css, compress: true

@import '../variables.less';

.navbar {
    background-color: @bg-nav-color;
    height: 60px;
    width: 100%;

    position: fixed;
    z-index: 100;
    
    box-shadow: 0 5px 20px @noir;

    &-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        margin: 0.3rem 0;

        &_logo {
            
            a {  
                font-family: @font-navlink;
                font-size: @text-lg;
                color: @color-navlink;
                font-family: @font-suptitle;
                text-decoration: none;

                &:hover {
                    color: @color-navlink-hover;
        
                }


                img {
                    display: none;
                }
            }
        }

        &_container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            a {
                text-transform: capitalize;
                text-decoration: none;

                font-family: @font-navlink;
                color: @color-navlink;
                font-size: @text-lg;

                margin-left: 2rem;

                &:hover {
                    color: @color-navlink-hover;
                }

                transition: color .2s linear;

            }

            
        }

    }
}