@use '../../style/variables' as *;

.services {
    &-content {
        &_text {
            font-family: $font-text-large;
            color: $color-text-large;
            font-size: $text-lg;
            line-height: 2.5rem;

            text-align: center;

            margin-bottom: 2rem;

            padding: 0 2rem;

            @media (max-width: $screen-md-min) {
                font-size: $text-md;
            }

            @media (max-width: $screen-sm-min) {
                font-size: $text-sm;
            }

            @media (max-width: $screen-xs-min) {
                font-size: $text-xs;
                line-height: 2rem;
            }
        }
        
        &_cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}