//out: ../../containers/footer/footer.css, compress: true

@import '../variables.less';

.contacts {
    background-color: @bg-footer-color;
    
    &-content {
        display: flex;
        padding: 4rem;

        align-items: center;

        @media (max-width: @screen-sm-min) {
            padding: 2rem 0;
        }

        &_img {
            width: 300px;

            img {
                display: block;
                width: 100%;
            }

            @media (max-width: @screen-sm-min) {
                display: none;
            }
        }

        &_info {
            margin: 0 4rem;
            width: 100%;

            color: @color-text;
            text-align: center;


            @media (max-width: @screen-sm-min) {
                margin: 0 2rem;
            }

            &-text {
                font-family: @font-text;
                font-size: @text-md;
                line-height: 2.5rem;

                margin-bottom: 1rem;

                @media (max-width: @screen-md-min) {
                    font-size: @text-sm;
                    line-height: 2rem;
                }

                @media (max-width: @screen-xs-min) {
                    font-size: @text-xs;
                }
            }

            &-email {
                font-family: @font-title;
                font-size: @text-lg;

                margin-bottom: 1rem;

                @media (max-width: @screen-xs-min) {
                    font-size: @text-md;
                }
            }
        }
    }
}