//out: ../../containers/header/header.css, compress: true

@import '../variables.less';

.header {
    height: 100vh;
    background: url('../../assets/images/intro/pexels-daria-obymaha-1683989.jpg')center, no-repeat;
    background-size: cover;

    position: relative;

    &-content {
        position: absolute;
        bottom: 5rem;
        left: 4rem;

        width: 100%;
        max-width: 600px;

        text-align: justify;

        @media (max-width: @screen-sm-min) {
            position: static;

            margin: 0 auto;
            padding: 10rem 2rem 0;
        }

        @media (max-width: @screen-xs-min) {
            padding-top: 10rem;
        }

        &_text {
            font-family: @font-text-large;
            color: @color-text-large;
            font-size: @text-lg;
            line-height: 2.5rem;  
            
            @media (max-width: @screen-sm-min) {
                
            }

            @media (max-width: @screen-xs-min) {
                font-size: @text-md;
                line-height: 2rem;
            }


        }
    }
}