@use '../../style/variables' as *;

.title-container {
    margin-bottom: 1rem;

    text-align: center;

    &_suptitle {
        font-family: $font-suptitle;
        color: $color-suptitle;
        font-size: $title-xs;
        font-weight: 100;
    
        transform: translateY(30px) rotate(-7deg);

        z-index: 1;
    }

    &_title {
        font-family: $font-title;
        color: $color-title;
        font-size: $title-sm;
        font-weight: 400;

        z-index: 10;

        &::after {
            display: block;
            content: "";

            margin: 1rem auto;
            
            width: 80%;
            height: 1px;

            background-color: $color-title;
        }
    }

}