@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Playfair+Display:wght@400;700;900&family=Scheherazade+New:wght@400;700&display=swap');

//////////////////////////////////////
//              COLORS              //
//////////////////////////////////////

@noir:                  #000;
@dark-blue:             #192231;
@dark-green:            #404a42;
@gold:                  #c0b283;
@light-pink:            #eedbcd;
@marble:                #f4f4f4;

     // BG
@bg-body-color:         @marble;
@bg-nav-color:          @dark-blue;
@bg-card-color:         @dark-blue;
@bg-review-color:       @light-pink;
@bg-footer-color:       @dark-blue;

    // Font
        // Large
@color-suptitle-large:  @gold;
@color-title-large:     @noir;
@color-text-large:      @noir;
        // Regular
@color-title:           @gold;
@color-suptitle:        @marble;
@color-text:            @marble;
        // Other
@color-navlink:         @gold;
@color-navlink-hover:   lighten(@gold, 20%);


//////////////////////////////////////
//              TEXT                //
//////////////////////////////////////
/*
    
font-family:            'Mr Dafoe', cursive;
font-family:            'Playfair Display', serif;
font-family:            'Scheherazade New', serif;

*/

    // Familys
@font-fancy:            'Mr Dafoe', cursive;
@font-first:            'Playfair Display', serif;
@font-second:           'Scheherazade New', serif;
        // Large
@font-suptitle-large:   @font-fancy;
@font-title-large:      @font-first;
@font-text-large:       @font-second;
        // Regular
@font-suptitle:         @font-fancy;
@font-title:            @font-first;
@font-text:             @font-second;
        // Other
@font-navlink:          @font-first;
@font-link:             @font-second;

    // Size
        // Titles
@title-lg:              96px;
@title-md:              72px;
@title-sm:              52px;
@title-xs:              48px;
        // Text
@text-lg:               32px;
@text-md:               24px;
@text-sm:               21px;
@text-xs:               18px;
       

//////////////////////////////////////
//           SCREEN SIZE            //
//////////////////////////////////////

        // Extra small screen / phone
@screen-xs:             480px;
@screen-xs-min:         @screen-xs;             // 480px
@screen-phone:          @screen-xs-min;         // 480px
@screen-xs-max:         (@screen-sm-min - 1);   // 767px
        // Small screen / tablet
@screen-sm:             768px;
@screen-sm-min:         @screen-sm;             // 768px
@screen-tablet:         @screen-sm-min;         // 768px
@screen-sm-max:         (@screen-md-min - 1);   // 991px
        // Medium screen / desktop
@screen-md:             992px;
@screen-md-min:         @screen-md;             // 992px
@screen-desktop:        @screen-md-min;         // 992px
@screen-md-max:         (@screen-lg-min - 1);   // 1199px
        // Large screen / wide desktop
@screen-lg:             1200px;
@screen-lg-min:         @screen-lg;             // 1200px
@screen-desktop:        @screen-lg-min;         // 1200px